@font-face {
  font-family: "Poppins_Regular";
  src: url("../assets/fonts/poppins/Poppins-Regular.ttf");
}

@import './variable.scss';

.agent-bg{
  .main-row{
    .row{
      .col-12{
        .main-heading{
          font-family: "Poppins_Regular";
          font-weight: 600;
          font-size: 25px;
          padding-left: 3%;
          margin: 5px 0px ;
        }

        .v-data-table{
          margin: 0px 0px ;
          .v-data-table__wrapper{
            table{
              // border: 2px solid red;
              z-index: 1;
              tbody{
                tr{
                  .v-avatar{
                    margin-right: 10px;
                  }
                  td{
                    a{
                      text-decoration: none !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
      
      .table-col{
        margin: 20px 5px;
      }
      .btn-row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        // border: 2px solid red;
        margin: 10px 0px;
        .v-btn {
          background-color: $primary-btn-color;
          color:white;
          text-transform: capitalize;
        }
        input{
          width: 60%;
          border: 1px solid $primary-color;
          border-radius: 2px;
          outline: none;
          padding: 0px 10px;
        }
        input:focus{
          outline: none !important;
          border: 1px solid $primary-color;
          border-radius: 2px;
          padding: 0px 10px;

          
        }
        input:active{
          outline: none !important;
          border: 1px solid $primary-color;
          border-radius: 2px;
          padding: 0px 10px;

        }
      }
      .btn-row-2{
        margin: 10px 0px;
        display: flex;
        justify-content: flex-end;
        .v-btn {
          color:white;
          text-transform: capitalize;

          background-color: $primary-btn-color;
        }
      }
    }
  }
}