@font-face {
  font-family: "Poppins_Regular";
  src: url("../assets/fonts/poppins/Poppins-Regular.ttf");
}
.logo {
  width: 90% !important;
  height: 100% !important;
  align-items: center !important;
}

.theme--light.v-navigation-drawer {
  background-color: red !important;
  background-image: linear-gradient(to bottom, #0A599B, #58a2e0);
}

.theme--light.v-expansion-panels .v-expansion-panel {
  background-color: transparent !important;
}

.theme--light.v-expansion-panels .v-expansion-panel::before {
  box-shadow: none;
  align-content: left !important;
  align-items: left !important;
}

.v-expansion-panel-header {
  text-align: left !important;
  align-items: left !important;
}

.icon {
  color: rgb(231, 226, 226) !important;
}

.menu-btn::before {
  background-color: gray !important;
  box-shadow: none !important;
  width: 100% !important;
  text-align: left !important;
}

.menu-btn {
  color: gray !important;
  width: 100% !important;
  text-align: left !important;
}

.adminIcon:active,
.adminIcon:focus,
.adminIcon::before {
  background-color: transparent !important;
  box-shadow: none !important;
}

.v-list-item__content a {
  color: white !important;
}

.theme--light.v-btn.v-btn--disabled.v-btn--has-bg {
  background-color: #ebedef !important;
  width: 100% !important;
  color: black !important;
  padding: 0% !important;
  position: relative !important;
  top: -12px !important;
  border-bottom-left-radius: 0% !important;
  border-bottom-right-radius: 0% !important;
}

.v-btn__content {
  text-align: left !important;
}

.v-application--wrap {
  min-height: auto !important;
}

.top_nav {
  position: fixed !important;
  z-index: 1 !important;
}

.nav-btn:hover {
  background-color: transparent !important;
}

.nav-btn:active {
  background-color: transparent !important;
}

.v-list-item-group .v-list-item--active {
  background-color: transparent !important;
}
.v-list-item-group .v-list-item--active:hover {
  background-color: transparent !important;
}

.v-application--wrap .top_nav .v-toolbar__content .ant-switch-checked {
  background-color: #0A599B !important;
}

.v-main .v-main__wrap .container-fluid .main-bg {
  margin-top: 2%;
  background-color: white !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px !important;
}
.v-main .v-main__wrap .container-fluid .row .col .main-heading {
  font-family: "Poppins_Regular";
  font-weight: 600;
  font-size: 25px;
  padding-left: 5%;
}
.v-main .v-main__wrap .container-fluid .row .col span .search-btn {
  background-color: #0A599B !important;
}
.v-main .v-main__wrap .container-fluid .row .col span .search-btn .v-icon {
  color: white !important;
}
.v-main .v-main__wrap .container-fluid .row .col span .search-btn:active {
  background-color: #0f7ed9 !important;
}
.v-main .v-main__wrap .container-fluid .row .col span input {
  border: 2px solid #0A599B;
  padding: 5px;
  font-size: small;
  border-radius: 0%;
  width: 80%;
}
.v-main .v-main__wrap .container-fluid .row .col span input:focus {
  border: 2px solid #0A599B !important;
  outline: none !important;
}
.v-main .v-main__wrap .container-fluid .row .col span input:active {
  border: 2px solid #0A599B !important;
  outline: none !important;
}
.v-main .v-main__wrap .container-fluid .row .col .search-space {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.v-main .v-main__wrap .container-fluid .row .col .card {
  max-width: 220px !important;
  background-image: linear-gradient(to right, #3577AC, #56A1DF);
  max-height: -webkit-max-content !important;
  max-height: -moz-max-content !important;
  max-height: max-content !important;
  color: white !important;
}
.v-main .v-main__wrap .container-fluid .row .col .card .row .col .card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.v-main .v-main__wrap .container-fluid .row .col .card .row .col .card-body span {
  font-size: x-large !important;
  font-family: "Poppins_Regular";
  font-weight: 600;
  position: absolute;
  margin: 0 20px !important;
  text-align: right;
}
.v-main .v-main__wrap .container-fluid .row .col .card .row .col .card-body p {
  font-family: "Poppins_Regular";
  font-weight: 400;
}
.v-main .v-main__wrap .container-fluid .row .col .card .row .col .card-body svg {
  width: 30px !important;
  height: 30px !important;
}
.v-main .v-main__wrap .container-fluid .second_row {
  position: relative;
  margin: 10px 5px;
}
.v-main .v-main__wrap .container-fluid .third_row {
  position: relative;
  margin: 10px 5px;
  display: flex;
  flex-wrap: wrap;
}
.v-main .v-main__wrap .container-fluid .third_row .col {
  display: flex !important;
  flex-direction: column !important;
}
.v-main .v-main__wrap .container-fluid .third_row .third_row_child1 {
  flex: 2;
}
.v-main .v-main__wrap .container-fluid .third_row .third_row_child2 {
  flex: 1;
}
.v-main .v-main__wrap .container-fluid .third_row .third_row_child2 h4 {
  font-family: "Poppins_Regular";
  font-weight: 600;
}/*# sourceMappingURL=dashboard.css.map */