@import "./variable.scss";

@mixin rowSetting{
  // border: 2px solid red;
        position: relative;
        margin: 10px 5px;
}

.logo {
  width: 90% !important;
  height: 100% !important;
  align-items: center !important;
}


.theme--light.v-expansion-panels .v-expansion-panel {
  background-color: transparent !important;
}
.theme--light.v-expansion-panels .v-expansion-panel::before {
  box-shadow: none;
  align-content: left !important;
  align-items: left !important;
}

.v-expansion-panel-header {
  text-align: left !important;
  align-items: left !important;
}
// .v-list-item--link {
//     color: rgb(231, 226, 226) !important;
//     color: red !important;
// }

.icon {
  color: rgb(231, 226, 226) !important;
}

.menu-btn::before {
  background-color: gray !important;
  box-shadow: none !important;
  width: 100% !important;
  text-align: left !important;
}

.menu-btn {
  color: gray !important;
  width: 100% !important;
  text-align: left !important;
}

.adminIcon:active,
.adminIcon:focus,
.adminIcon::before {
  background-color: transparent !important;
  box-shadow: none !important;
}

.v-list-item__content {
  a {
    color: $dashboard-text-color !important;
  }
}

.theme--light.v-btn.v-btn--disabled.v-btn--has-bg {
  background-color: $admin-nav-head-bg !important;
  width: 100% !important;
  // color: $admin-nav-text-color !important;
  color: black !important;
  padding: 0% !important;
  position: relative !important;
  top: -12px !important;
  border-bottom-left-radius: 0% !important;
  border-bottom-right-radius: 0% !important;
} 

.v-btn__content {
  text-align: left !important;
}

.v-application--wrap {
  min-height: auto !important;
}

.top_nav {
  position: fixed !important;
  z-index: 1 !important;
  left: 200px !important;
  height: 68px !important;

}

.top_nav:has(+.v-navigation-drawer--close){
  left: 0px !important;
  height: 68px !important;
}

.nav-btn:hover {
  background-color: transparent !important;
}

.nav-btn:active {
  background-color: transparent !important;
}

.theme--light.v-navigation-drawer {
  background-image: linear-gradient(to bottom, $primary-color, #58a2e0);
  width: 200px !important;

  .v-navigation-drawer__content{
    .nav-btn-list{
      // border: 2px solid white;
      padding: 0 10px !important;
      display: flex;
      flex-direction: column;
      height: auto;
      justify-content: space-around;
      a{
        text-decoration: none !important;
        margin-top: 5%;
        text-transform: capitalize !important;
        button {
          
          .v-btn__content{
            .v-icon{
              position: absolute !important;
              margin-left: -80% !important;
              // border: 2px solid white;
            }
            span {
              text-transform: capitalize ;
            }
            .logoutSpace {
              // margin-top: 50% !important;
              display: none !important;
            }
          }
          
        }
      }

      .v-expansion-panels{
        .v-expansion-panel {
          .v-expansion-panel-header{
            // border: 2px solid white;
            padding: 0% !important;
            text-align: left !important;
            span{
              color: white !important;
              text-align: left;
              font-size: 600;
              
            }
            .v-icon{
              margin-left: 10px;
            }
            .v-expansion-panel-header__icon{
              .v-icon {
                color: white;
              }
            }
          }
          .v-expansion-panel-content{
            .v-expansion-panel-content__wrap{
              ul {
                li {
                  margin-top: 10px !important;
                  color: white;
                  
                  a {
                    color: white;
                    font-size: small;
                  }
                  a:hover{
                    color: rgb(227, 223, 223);
                    font-size: small;
                    
                  }
                }
              }
            }
          }
        }
      }

    }
  }
}

.my-btn {
  padding:10px 150px;
  color: #fff;
  border: none;
  width: 100% !important;
}
  
  
.my-btn2 {
  padding:10px 150px;
  color: #fff;
  border: none;
  width: 100% !important;
}
  
  






.v-list-item-group {
  .v-list-item--active {
    background-color: transparent !important;
  }
  .v-list-item--active:hover {
    background-color: transparent !important;
  }
}

.v-navigation-drawer__content{
  .v-list{
    .link {
      text-decoration: none !important;
    }
  }
}


.v-application--wrap{
  .top_nav {
    .v-toolbar__content{
      .ant-switch-checked {
        background-color: $primary-color!important;
      }
    }
  }
}


.yellow-color {
  background-image: linear-gradient(to right,#3576AB , #57A2E0);
  color: white !important;
  text-align: left !important;

  .link{
    text-decoration: none !important;
  }
  .v-btn__content{
    .border-line{
      background-color: white !important;
      position: fixed;
      width: 5px;
      height: 30px;
      border-radius: 10px;
      left: 15px !important;
    }
  
  }
}

.trans2-color {
  background-image: linear-gradient(to right,#3576AB , #57A2E0);
  color: white !important;
  text-align: left !important;
  .link{
    text-decoration: none !important;
  }
  .v-btn__content{
    .border-line{
      background-color: white !important;
      position: fixed;
      width: 5px;
      height: 30px;
      border-radius: 10px;
      left: 15px !important;
    }
    span {
      margin-left: -30px !important;
    }
  }
}

.red-color {
  background: transparent !important;
  box-shadow: none !important;
  color: white !important;
  text-align: left !important;
  .link{
    text-decoration: none !important;
  }
  .v-btn__content{
    .border-line{
display: none;
    }
  }
}

.trans-color {
  background: transparent !important;
  box-shadow: none !important;
  color: white !important;
  text-align: left !important;
  .link{
    text-decoration: none !important;
  }
  .v-btn__content{
    .border-line{
display: none;
    }
    span {
      margin-left: -30px !important;
    }
  }
}




.v-main:has(+.v-navigation-drawer--close){
  padding: 64px 0px 0px 50px !important;
}



.setMain{
  padding: 64px 0px 0px 60px !important;
}

.v-main {
  .v-main__wrap {

    .container-fluid{
      width: auto;
      margin-left: -5% !important;
      .main-bg {
        margin-top: 2% ;
        // background-color: rgb(238, 235, 235) !important;
        // background-color: red !important;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-radius: 10px !important;
        // left: -5%;
      }
      .row{
        .col {
          .main-heading{
            font-family: $regular-font;
            font-weight: 600;
            font-size: 25px ;
            padding-left: 5%;
          }
          span {
            .search-btn {
              background-color:  $primary-color!important;
              .v-icon {
                color: white !important;
              }
            }
            .search-btn:active{
              background-color:  #0f7ed9 !important;
              
            }
            input {
              border: 1px solid $primary-color;
              padding: 5px 10px;
              font-size: small;
              border-radius: 5px;
              width: 80%;
            }
            input:focus{
              border: 1px solid $primary-color!important;
              // border: none !important;
              outline: none !important;
              border-radius: 5px;

              // box-shadow: none !important;
            }
            input:active{
              border: 1x solid $primary-color!important;
              outline: none !important;
              border-radius: 5px;

            }
          }

          .search-space{
            display: flex ;
            // border: 2px solid red;
            justify-content: space-evenly;
            flex-wrap: wrap;
          }
        }

        // Second Row Styling
        .col {
          .card{
            max-width: 220px !important;
            // background-color: red !important;
            background-image: $rtl-gradient ;
            max-height: max-content !important;
            color: white !important;

            .row {
              .col {
                .card-body {
                  // border: 2px solid red;
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-around;
                  span {
                    font-size: x-large !important;
                    font-family: $regular-font;
                    font-weight: 600;
                    // border: 2px solid whitesmoke;
                    position: absolute;
                    margin: 0 20px !important;
                    text-align: right;
                  }
                  p{
                    font-family: $regular-font;
                    font-weight: 400;
                  }
                  svg{
                    width: 30px !important;
                    height: 30px !important;
                  }
                }
              }
            }
          }
        }
        
      }
      .second_row {
      @include rowSetting
      }
      .third_row {
        @include rowSetting;
        display: flex;
        flex-wrap: wrap ;
        .col {
          display : flex  !important;
          flex-direction: column !important;
          // border: 2px solid rebeccapurple;
        }
        .third_row_child1 {
          flex: 2;
        }
        .third_row_child2{
          flex: 1;
         
          h4{
            font-family: $regular-font;
            font-weight: 600;
          }
        }
      }
      .fourth_row{
        display: flex;
        @include rowSetting;
        .fourth_row_child1 {
          flex: 3;
          .v-data-table{
            .v-data-table__wrapper{
              table {
                .v-data-table-header{
                  tr {
                    background-color: #FAFAFA !important;
                  }
                }
              }
            }
            .v-data-footer{
              display: none !important;
            }
          }
        }
        .fourth_row_child2 {
          flex: 1;
          margin-top: 15px !important;
          .act-card{
            background-image: none !important;
            background-color: white !important;
            border: 1px solid rgba(128, 128, 128,0.3);
            border-radius: 10px;
            width: 280px;
            margin-top: 10% !important;
            .card-body {
              height: auto !important;
              .row {
                display: flex;
                flex-direction: row;
                justify-content: center;
                background-color: rgb(255 , 255, 255);
                border-top: 1px solid rgba(0, 0, 0,0.2) ;
                width: 117%;
                margin-left: -16px;
                .col {
                 text-align: center;
                 flex: 1;
                 .v-icon {
                  color: black;
                 }
                }
                .det{
                  flex: 3;
                  p{
                    color: black;
                    // display: none;
                    font-size: x-small;
                    text-align: left;
                    small {
                      color: rgba(0, 0, 0,0.6);
                    }
                  }
                 
                }
              }
            }
          }
        }
      }
    }
  }
}




